body {
  padding: 0px;
  margin: 0px;
  background-image: url('../img/synth_evol_bg.png');
  text-align:center;
  height:400px;
  overflow: hidden;
}
#mainCanvas {
  background-image: url('../img/synth_evol_bg.png');
  margin: auto;
  text-align: left;
  overflow: hidden;
}
