body {
    background-image: url('../img/tutorial/opening.png');
    background-color:#000000;
    background-position:left top;
    background-repeat:no-repeat;
    -moz-background-size:100% auto;
    background-size:100% auto;
}

.tutorial1 {
}
.slider {
    position: relative;
    width:320px;
    height:400px;
    top:0px;
    left:0px;
}

.btnStart {
    position: relative;
    top: 55px;
    left: 35px;
    height: 50px;
}
.strStart {
    position: absolute;
    top: 14px;
    left: 85px;
    font-size: 22px
}
.opening_text {
    width:320px;
}
.btnStrongL {
    width:275px;
}
