body {
    background-image: url('../img/tutorial/opening.png');
    background-color:#000000;
    background-position:left top;
    background-repeat:no-repeat;
    -moz-background-size:50% 50%;
    background-size:50% auto;
}

.tutorial1 {
}
.slider {
    position: relative;
    width:320px;
    top:0px;
    left:0px;
}

.btnStart {
    position: relative;
    top: 190px;
    left: 15px;
    height: 50px;
}
.strStart {
    position: absolute;
    top: 7px;
    left: 80px;
    font-size: 18px
}
.opening_text {
    width:320px;
}
.btnStrongL {
    width:275px;
}
